{% extends "model-page.html" %} <!-- Trazendo todas as configurações do model-page para o index-->

{% block content %}  <!-- Envolvendo o bloco -->
    <h2>Agendamentos</h2>

    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>

    <ul style="font-size:18px">
    {% for evento in eventos %}
        <li>
            {{ evento.titulo }} - {{ evento.data_brasil }}
            (<a href="evento/?id={{evento.id}}">Editar </a> <!--Passando o id como parametro no get = ?-->
            / <a href="evento/delete/{{evento.id}}"> Excluir</a>)
        </li>
    {% endfor %}
    </ul>
{% endblock %} <!-- Finalizando o bloco -->